body {
    background-color: #011A27;
    overflow-x: hidden; 
}

ul {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    text-shadow: 4px 3px 3px #000000;
}

#jumbotron_top {
    padding-top : 30px;
    padding-bottom: 30px;
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 427px;
    background-position: 0px -250px;
}

.row {
    border-radius: 20px 20px 20px 20px;
}

.judul {
    color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;
}

.images {
    max-width: 100%;
    border-radius: 20px 20px 20px 20px;
}

/************************************-container 1-**************************************/

.container_1 {
    margin-top: -240px;
	padding-left: 100px;
	padding-right: 100px;
}

.row_1 {
    max-height: 400px;
    background-color: #052435; 
    box-shadow: 5px 4px 10px #000000
}

.image-insan-1 {
    padding-left: 100px;
    padding-right: 100px;
}

.nama {
    font-size: 42px;
    color: #8B8B8B;
    font-family: Roboto;
}

.aktivitas {
    font-size: 20px;
    color: #8B8B8B;
    font-family: Roboto;
}

/************************************-container 1-**************************************/

.container_2 {
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
}

.row_2 {
    background-color: #052435;
    box-shadow: 5px 4px 10px #000000
}

.image-insan-2 {
    padding: 20px;
}

.isi-about {
    padding : 50px;
}

.paragraph_1 {
    color: #FFFFFF;
    text-align:justify;
    text-indent: 50px;
    letter-spacing: 0.15em;
    line-height: 2em;

}

/************************************-container 3-**************************************/

.container_3 {
    margin-top: 150px;
}

.rectangle_1 {
    margin: 0 auto;
    width: 80%;
    height: 75px;
    background: #052435;
    box-shadow: 5px 4px 10px #000000;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}

.rectangle_2 {
    margin: 0 auto;
    width: 40%;
    height: 50px;
    background-color: #F37F06;
    border-radius: 15px;
    color : #07354F;
    text-align: center;
    padding: 15px;
    margin-top: -270px;
}

.circle {
    height: 71px;
    width: 71px;
    background-color: #F37F06;
    border-radius: 50%;
    display: inline-block;
    color : #07354F;
}

.circle_1 {
    margin-top: 100px;
}

.circle_2 {
    margin-top: 0px;
}

.line_vertical {
    border-left: 6px solid rgba(243, 127, 6, 0.5);
    margin-left: 49%;
  
}

.line-v-1 {
    margin-top: -170px;
    height: 300px;
}

.line-v-2 {
    margin-top: -36px;
    height: 150px;
}

.line_horizontal {
    border-top: 4px solid rgba(243, 127, 6, 0.5);
    height: 250px;
    width: 200px; 
}

.line-h-1 {
    margin-top: -168px;
    margin-left: -100px;
    padding-right: 200px;
    margin-bottom: -120px;
}

.line-h-2 {
    margin-top: -150px;
    margin-left: 116px;
    padding-left: 200px;
    margin-bottom: -120px;
}

.line-h-3 {
    margin-top: -150px;
    margin-left: -100px;
    padding-right: 200px;
    margin-bottom: -120px;
}

.box {
    width: 350px;
    height: 200px;
    background: #052435;
    box-shadow: 5px 4px 10px #7A4C16;
    border-radius: 20px;
    padding: 12px;

}

.box_1 {
    margin-left: 162px;
    margin-top: 30px;

}

.box_2 {
    margin-left: 71px;
    margin-top: -63px;
}

.box_3 {
    margin-left: 162px;
    margin-top: -63px;
}

.box_4 {
    width: 450px;
    height: 250px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}

.box-title {
    font-family: Roboto;
    font-style: normal;
    line-height: 157.69%;
    text-align: justify;
    letter-spacing: 0.09em;

}

.orange {
    color: #F37F06;
    font-weight: bold;
    font-size: 15px;
}

.orenge-box-4 {
    text-align: center;
    font-size: 18px;
}

.grey {
    color: #8B8B8B;
    font-weight: bold;
    margin-top: -10px;
    font-size: 14px;
}

.white {
    color: #FFFFFF;
    font-weight: normal;
    margin-top: 0px;
    font-size: 13px;
    text-indent: 25px;
}

/************************************-container 4-**************************************/

.container_4 {
    margin-top: 400px;
}

.image_3 {
    max-width: 70%;
    border-radius: 0%;
    display: inline-block;
    margin-top:-700px;
    box-shadow: 3px 3px 15px #000000
}

.background_orange_1 {
    padding: 12px;
    background: #FAA348;
    width: 100%;
    height: 650px;
    margin-bottom: 100px;
    padding-top: 40px;
}

.orange_box_left {
    width: 350px;
    height: 200px;
    background: #FAA348;
    margin-left: 212px;
    margin-top: -20px;
}

.orange_title_left {
    font-family: Roboto;
    font-style: normal;
    line-height: 157.69%;
    text-align: justify;
    letter-spacing: 0.09em;

    color: #000000;
    font-weight: normal;
    margin-top: 0px;
    font-size: 13px;
    text-indent: 100px;
}

.image_4 {
    max-width: 15%;
    display: inline-block;
    margin-top:-85px;
    margin-left: 220px;
}

.judul_business {
    color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;
    margin-top:-20px;
    margin-left: 310px;
}

.image_5 {
	width: 34px;
	height: 22px;
	border-radius: 0%;
	margin-top: -710px;
}

.image_6 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
	margin-top: -670px;
}

.image_7 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
	margin-top: -630px;
}

.list_sanwastore{
	text-shadow: 0px 0px 0px;
	margin-top: -425px;
	margin-left: 50px;
}

/************************************-container 5-**************************************/


.background_orange_2 {
    padding: 12px;
    background: #FAA348;
    width: 80%;
    height: 300px;
}

.image_8 {
	width: 34px;
	height: 22px;
	border-radius: 0%;
	margin-top: -410px;

}

.image_9 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
	margin-top: -370px;
}

.image_10 {
	width: 33px;
	height: 33px;
	border-radius: 0%;
	margin-top: -330px;
}

.list_contactme{
	text-shadow: 0px 0px 0px;
	margin-top: -275px;
	margin-left: 50px;
}

.judul_contactme {
	color : #8B8B8B;
    font-weight: 600;
    text-shadow: 4px 3px 3px #000000;
    margin-top:-250px;
    margin-left: 310px;
}








