{% load static %}
<div>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#">
                <img style="height: 50px;" src="{% static 'images/sanwa.png' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:index' %}#">HOME</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:index' %}#about">ABOUT</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:index' %}#experience">EXPERIENCE</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:index' %}#business">BUSINESS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lab_1:contact' %}">CONTACT</a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="jumbotron text-center" id = "jumbotron_top"></div>
    </div>